/* Variables */

:root {
	--main-tan: #f5e1b8;
	--main-tan2: #f7dca3;
}

/* Base reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* global styling */

ul {
	list-style: none;
}

html {
	scroll-behavior: smooth;
	background-color: var(--main-tan);
	box-sizing: border-box;
	font-size: 62.5%;
}

a {
	text-decoration: none;
	
}

/* Header Styling */

header {
	position: sticky;
	z-index: 1;
}



.about {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--main-tan2);
	width: 80%;
	margin: auto;
	font-size: 2.0rem;
	
}

img {
	height: 20%;
	border-radius: 50%;
	border: 5px solid ;
	margin: 0 10px;
}

#about {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	height: 20%;
	padding: 0 10px;
}
 
#nav-bar {
	width: 100%;
}

#nav-bar ul {
	display: flex;
	justify-content: space-around;
}

/* Projects Styling */


/* Connect Styling */

