/* variables and imports */

:root {
  color-scheme: light dark;

  --background-color-light: #fff6e5;
  --background-color-dark: #181818;
  --font-color-light: #333d29;
  --font-color-dark: #c2c5aa;

  --primary-color-light: #c2c5aa;
  --primary-color-dark: #333d29;
  --secondary-color-light: #a68a64;
  --secondary-color-dark: #582f0e;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  background-color: light-dark(
    var(--background-color-light),
    var(--background-color-dark)
  ) !important;
}

/* box-sizing and font sizing -------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations */
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body * {
  font-family: "Roboto", sans-serif;
}

/* Animated Background ------------------------------------------------------------ */

/* Base styles ------------------------------------------------------------------------ */

.container {
  max-width: 1000px !important;
  width: 80% !important;
  margin: auto;
}

a {
  text-decoration: none !important;
}

a:link {
  color: light-dark(var(--secondary-color-light), var(--secondary-color-dark));
}

a:visited {
  color: light-dark(var(--secondary-color-light), var(--secondary-color-dark));
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* NAV ---------------------------------------------------------- */

#nav-bar {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 2rem 0;
  font-weight: 600;
  font-size: 2.6rem;
}

.nav-link {
  transition: color 0.3s ease, transform 0.3s ease !important;
}

.nav-link:hover {
  color: light-dark(
    var(--secondary-color-light),
    var(--secondary-color-dark)
  ) !important;
  transform: translateY(8px);
  /* for the animation to not 'snap-back' the transition needs to be in the general rule, not the 'hover rule */
}

.nav-link.active {
  color: light-dark(
    var(--secondary-color-light),
    var(--secondary-color-dark)
  ) !important;
  transform: translateY(8px);
}

/* HOME -----------------------------------------------*/

.home {
  height: 100vh;
  color: light-dark(
    var(--primary-color-light),
    var(--primary-color-dark)
  ) !important;
  font-size: 3rem;
}

#hello {
  font-size: 12rem;
  font-weight: 600;
}

#my-name {
  font-size: 4rem;
  font-weight: 500;
}

#name {
  font-size: 14rem;
  font-weight: 700;
}

/* ABOUT ----------------------------------------------------------- */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: light-dark(var(--font-color-light), var(--font-color-dark)) !important;
}

.about-background {
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2),
    0 6px 20px 3px rgba(0, 0, 0, 0.19);
  height: 70%;
  margin-bottom: 20px;
  background-color: light-dark(
    var(--primary-color-light),
    var(--primary-color-dark)
  ) !important;
}

.about-container {
  height: 100% !important;
  background-color: light-dark(
    var(--primary-color-light),
    var(--primary-color-dark)
  ) !important;
}

#headshot {
  border-radius: 50%;
  width: 30%;
  position: absolute;
  top: -60px;
  left: -110px;
  border: solid 3px
    light-dark(var(--secondary-color-light), var(--secondary-color-dark));
}

h1 {
  font-weight: 1000;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  padding: 10px;
}

#bio {
  font-size: 2rem;
  font-weight: 400;

  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2),
    0 6px 20px 3px rgba(0, 0, 0, 0.19);
  border: solid 1px var(--font-color-links);
  padding: 10px;
  border-radius: 5px;
}

#skills-title {
  font-size: 3rem;
  font-weight: 400;
}

#skills > .row {
  background-color: light-dark(
    var(--primary-color-light),
    var(--primary-color-dark)
  ) !important;
}

.svg-skills {
  width: 7rem !important;
  height: 7rem !important;
  padding: 5px;
  border: solid 1px var(--font-color-links);
  margin: 10px;

  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2),
    0 6px 20px 3px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

/* HEADSHOT */

/* PROJECTS --------------------------------------------------- */

.projects {
  height: 100vh;
}

.card {
  width: 60rem;
  height: 100% !important;
  border: solid 1px var(--font-color-links) !important;
}

.card-body {
  border-top: solid 1px var(--font-color-links-border) !important;
}

.project-img {
  aspect-ratio: 1/1;
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

.project-description {
  position: absolute;
  top: 10%;
  width: 100%;
  font-size: 1.75rem;
  opacity: 0;
  text-wrap: wrap;
  text-align: center;
  transition: opacity 0.5s ease;
  padding-left: 4%;
  padding-right: 4%;
}

.project-tiles {
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2),
    0 6px 20px 3px rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.5s ease;
}

.project-tiles:hover {
  box-shadow: 0px 0px 10px 2px var(--font-color);
}

.project-tiles:hover .project-img {
  opacity: 0.1;
}

.project-tiles:hover .project-description {
  opacity: 1;
}

.card-title {
  margin-bottom: 0 !important;
  font-size: 2.7rem;
  font-weight: 300;
}

.carousel {
  width: 100%;
}

button {
  color: var(--font-color-links) !important;
  opacity: 1 !important;
}

button:hover {
  color: var(--font-color) !important;
}

/* CONNECT ---------------------------------------------- */

.connect {
  height: 100vh;
}

.connect-links {
  transition: color 0.3s ease;
}

.connect-links:hover {
  color: var(--font-color);
}

.lets-connect {
  color: var(--font-color-links);
  font-size: 10rem;
  text-shadow: 0px 0px 5px var(--font-color-links);
}

/* Icons ------------------------------- */

.svg {
  width: 3.75rem;
  height: 3.75rem;
}

/* RESPONSIVE @MEDIA QUERIES --------------------------------- */

@media screen and (max-width: 675px) {
  .container {
    width: 95% !important;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 80% !important;
    min-width: 200px;
  }

  .project-description {
    font-size: 1rem;
  }

  #nav-bar {
    font-size: 2rem;
  }

  #bio {
    font-size: 1.75rem;
  }
  .svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  .card-title {
    font-size: 1.1rem;
  }

  .lets-connect {
    font-size: 5rem;
  }
}

@media screen and (max-width: 900px) {
  .svg-skills {
    width: 5rem !important;
    height: 5rem !important;
  }

  .home {
    height: 100vh;
    color: var(--font-color-opacity);
    font-size: 2rem;
    text-shadow: 0px 0px 10px var(--font-color-opacity);
  }

  .carousel-control-prev {
    justify-content: flex-start !important;
  }

  .carousel-control-next {
    justify-content: flex-end !important;
  }

  .card {
    width: 80%;
  }

  #hello {
    font-size: 8rem;
    font-weight: 600;
  }

  #my-name {
    font-size: 3rem;
    font-weight: 500;
  }

  #name {
    font-size: 10rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 630px) {
  .home {
    height: 100vh;
    color: var(--font-color-opacity);
    font-size: 1.5rem;
    text-shadow: 0px 0px 10px var(--font-color-opacity);
  }

  #hello {
    font-size: 8rem;
    font-weight: 600;
  }

  #my-name {
    font-size: 3rem;
    font-weight: 500;
  }

  #name {
    font-size: 6.5rem;
    font-weight: 700;
  }
  .card-title {
    font-size: 2rem;
  }

  .lets-connect {
    font-size: 7rem;
  }
}

@media screen and (max-height: 700px) {
  #bio {
    font-size: 1rem;
  }

  .svg-skills {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  .svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  .about-background {
    margin-bottom: 0;
  }
}

@media screen and (max-height: 950px) and (min-height: 700px) {
  #bio {
    font-size: 1.3rem;
  }

  .svg-skills {
    width: 3rem !important;
    height: 3rem !important;
  }
  .svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  .about-background {
    margin-bottom: 0;
  }
}
