/* variables and imports */

:root {
  --about-color: #e0f0ff;
  --background-color: #ffefe0;
  --font-color: #ffd5ad;
  --font-color-opacity: #ffd5adce;
  --font-color-links: #a4a5f9;
  --font-color-links-opacity: #a4a5f950;
  --font-color-links-border: #a4a5f994;
  --gradiant-color-one: #070063;
  --gradiant-color-two: #191477;
  --gradiant-color-three: #221f83;
  --gradiant-color-four: #2a288e;
  --about-gradiant-one: #380063;
  --about-gradiant-two: #540372;
  --about-gradiant-three: #64067b;
  --about-gradiant-four: #740b82;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing -------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations */
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body * {
  font-family: "Roboto", sans-serif;
}

/* Animated Background ------------------------------------------------------------ */
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: var(--font-color-links-opacity);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 11em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

/* Base styles ------------------------------------------------------------------------ */

body {
  font-size: 1.8rem;
  background: linear-gradient(
    315deg,
    var(--gradiant-color-one) 3%,
    var(--gradiant-color-two) 38%,
    var(--gradiant-color-three) 68%,
    var(--gradiant-color-four) 98%
  );
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.container {
  max-width: 1000px !important;
  width: 80% !important;
  margin: auto;
}

a {
  text-decoration: none !important;
}

a:link {
  color: var(--font-color-links);
}

a:visited {
  color: var(--font-color-links);
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* NAV ---------------------------------------------------------- */

#nav-bar {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 2rem 0;
  font-weight: 600;
  font-size: 2.6rem;
  background: linear-gradient(
    315deg,
    var(--gradiant-color-one) 3%,
    var(--gradiant-color-two) 38%,
    var(--gradiant-color-three) 68%,
    var(--gradiant-color-four) 98%
  );
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.nav-link {
  transition: color 0.3s ease, transform 0.3s ease !important;
}

.nav-link:hover {
  color: var(--font-color) !important;
  transform: translateY(8px);
  /* for the animation to not 'snap-back' the transition needs to be in the general rule, not the 'hover rule */
}

.nav-link.active {
  color: var(--font-color) !important;
  transform: translateY(8px);
}

/* HOME -----------------------------------------------*/

.home {
  height: 100vh;
  color: var(--font-color-opacity);
  font-size: 3rem;
  text-shadow: 0px 0px 10px var(--font-color-opacity);
}

#hello {
  font-size: 12rem;
  font-weight: 600;
}

#my-name {
  font-size: 4rem;
  font-weight: 500;
}

#name {
  font-size: 14rem;
  font-weight: 700;
}

.home-items {
  animation: home-items 15s linear infinite;
}

.home-items:nth-of-type(2) {
  animation: home-items-small 10s linear reverse infinite;
}

.home-items:nth-of-type(3) {
  animation: home-items 22s linear reverse infinite;
}

.home-items:nth-of-type(4) {
  animation: home-items-small 15s linear reverse infinite;
}

@keyframes home-items {
  2% {
    transform: translateY(1);
  }

  25% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(-10%);
  }

  75% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(1);
  }
}

@keyframes home-items-small {
  2% {
    transform: translateY(1);
  }

  25% {
    transform: translateY(-25%);
  }

  50% {
    transform: translateY(-50%);
  }

  75% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(1);
  }
}

/* ABOUT ----------------------------------------------------------- */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: whitesmoke;
}

.about-background {
  background: linear-gradient(
    315deg,
    var(--about-gradiant-one) 3%,
    var(--about-gradiant-two) 38%,
    var(--about-gradiant-three) 68%,
    var(--about-gradiant-four) 98%
  );
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2),
    0 6px 20px 3px rgba(0, 0, 0, 0.19);
  height: 80%;
  margin-bottom: 20px;
}

.about-container {
  height: 100% !important;
}

#headshot {
  border-radius: 50%;
  width: 50%;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2),
    0 6px 20px 3px rgba(0, 0, 0, 0.19);
  border: solid 3px var(--font-color-links);
}

h1 {
  font-weight: 1000;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

#bio {
  font-size: 2rem;
  font-weight: 400;
  background: linear-gradient(
    315deg,
    var(--gradiant-color-one) 3%,
    var(--gradiant-color-two) 38%,
    var(--gradiant-color-three) 68%,
    var(--gradiant-color-four) 98%
  );
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2),
    0 6px 20px 3px rgba(0, 0, 0, 0.19);
  border: solid 1px var(--font-color-links);
  padding: 10px;
  border-radius: 5px;
}

#skills-title {
  font-size: 3rem;
  font-weight: 400;
}

.svg-skills {
  width: 7rem !important;
  height: 7rem !important;
  padding: 5px;
  border: solid 1px var(--font-color-links);
  margin: 10px;
  background: linear-gradient(
    315deg,
    var(--gradiant-color-one) 3%,
    var(--gradiant-color-two) 38%,
    var(--gradiant-color-three) 68%,
    var(--gradiant-color-four) 98%
  );
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2),
    0 6px 20px 3px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

/* HEADSHOT */

/* #img-text {
  width: 50%;
  max-width: 650px;
  position: relative;
  background-color: var(--background-color);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(39, 39, 39);
  margin-bottom: 8px;
}

#img-text > p {
  position: absolute;
  top: 45%;
  width: 90%;
  left: 5%;
  opacity: 0;
  text-wrap: wrap;
  text-align: center;
  transition: opacity 0.5s ease;
}



#img-text:hover p {
  opacity: 1;
}

#img-text:hover img {
  opacity: 0;
} */

/* PROJECTS --------------------------------------------------- */

.projects {
  height: 100vh;
}

.card {
  width: 60rem;
  height: 100% !important;
  border: solid 1px var(--font-color-links) !important;
}

.card-body {
  border-top: solid 1px var(--font-color-links-border) !important;
}

.project-img {
  aspect-ratio: 1/1;
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

.project-description {
  position: absolute;
  top: 10%;
  width: 100%;
  font-size: 1.75rem;
  opacity: 0;
  text-wrap: wrap;
  text-align: center;
  transition: opacity 0.5s ease;
  padding-left: 4%;
  padding-right: 4%;
}

.project-tiles {
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2),
    0 6px 20px 3px rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.5s ease;
}

.project-tiles:hover {
  box-shadow: 0px 0px 10px 2px var(--font-color);
}

.project-tiles:hover .project-img {
  opacity: 0.1;
}

.project-tiles:hover .project-description {
  opacity: 1;
}

.card-title {
  margin-bottom: 0 !important;
  font-size: 2.7rem;
  font-weight: 300;
}

.carousel {
  width: 100%;
}

button {
  color: var(--font-color-links) !important;
  opacity: 1 !important;
}

button:hover {
  color: var(--font-color) !important;
}

/* CONNECT ---------------------------------------------- */

.connect {
  height: 100vh;
}

.connect-links {
  transition: color 0.3s ease;
}

.connect-links:hover {
  color: var(--font-color);
}

.lets-connect {
  color: var(--font-color-links);
  font-size: 10rem;
  text-shadow: 0px 0px 5px var(--font-color-links);
}
.social {
  animation: social 30s linear infinite;
  display: flex;
  justify-content: center;
}

.social:nth-of-type(2) {
  animation: social 18s linear reverse infinite;
}

.social:nth-of-type(3) {
  animation: social 14s reverse infinite;
}

.social:nth-of-type(4) {
  animation: social 15s linear reverse infinite;
}
.social:nth-of-type(5) {
  animation: social 15s linear reverse infinite;
}

.social-container {
  width: 100%;
}
@keyframes social {
  2% {
    transform: translateY(1);
  }

  25% {
    transform: translateY(-25%);
  }

  50% {
    transform: translateY(-50%);
  }

  75% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(1);
  }
}

/* Icons ------------------------------- */

.svg {
  width: 3.75rem;
  height: 3.75rem;
}

/* RESPONSIVE @MEDIA QUERIES --------------------------------- */

@media screen and (max-width: 675px) {
  .container {
    width: 95% !important;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 80% !important;
    min-width: 200px;
  }

  .project-description {
    font-size: 1rem;
  }

  #nav-bar {
    font-size: 2rem;
  }

  #bio {
    font-size: 1.75rem;
  }
  .svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  .card-title {
    font-size: 1.1rem;
  }

  .lets-connect {
    font-size: 5rem;
  }
}

@media screen and (max-width: 900px) {
  .svg-skills {
    width: 5rem !important;
    height: 5rem !important;
  }

  .home {
    height: 100vh;
    color: var(--font-color-opacity);
    font-size: 2rem;
    text-shadow: 0px 0px 10px var(--font-color-opacity);
  }

  .carousel-control-prev {
    justify-content: flex-start !important;
  }

  .carousel-control-next {
    justify-content: flex-end !important;
  }

  .card {
    width: 80%;
  }

  #hello {
    font-size: 8rem;
    font-weight: 600;
  }

  #my-name {
    font-size: 3rem;
    font-weight: 500;
  }

  #name {
    font-size: 10rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 630px) {
  .home {
    height: 100vh;
    color: var(--font-color-opacity);
    font-size: 1.5rem;
    text-shadow: 0px 0px 10px var(--font-color-opacity);
  }

  #hello {
    font-size: 8rem;
    font-weight: 600;
  }

  #my-name {
    font-size: 3rem;
    font-weight: 500;
  }

  #name {
    font-size: 6.5rem;
    font-weight: 700;
  }
  .card-title {
    font-size: 2rem;
  }

  .lets-connect {
    font-size: 7rem;
  }
}

@media screen and (max-height: 700px) {
  #bio {
    font-size: 1rem;
  }

  .svg-skills {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  .svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  .about-background {
    margin-bottom: 0;
  }
}

@media screen and (max-height: 950px) and (min-height: 700px) {
  #bio {
    font-size: 1.3rem;
  }

  .svg-skills {
    width: 3rem !important;
    height: 3rem !important;
  }
  .svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  .about-background {
    margin-bottom: 0;
  }
}
