/* variables and imports */ 

:root {
  --about-color: #E0F0FF;
  --background-color: #FFEFE0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations */
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-image: linear-gradient(to right, var(--background-color), var(--about-color) 20%, var(--about-color) 80%, var(--background-color));
}

/* Base styles */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
	display: block;
	width: 100%;
}

body {
	font-family: "Raleway", sans-serif;
	font-size: 1.8rem;
	width: 80%;
	margin: auto;
	/* background-color: var(--background-color); */
}

/* nav */

#nav-bar {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 80%;
	z-index: 10;
	margin: 1em auto;
	font-weight: 600;
}

#nav-bar ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
	
}

/* about */ 

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#headshot {
	width: 40%;
	border-radius: 50%;
}

h2 {
	font-weight: 300;
	font-size: 2.0rem;
}

